<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>testing and Prediction</title>
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <script src="first.js"></script>
    <h2 class="home">Testing/Prediction</h2>
    
    <div id="header">

     <h3>
         <img src="{{url_for('static', filename='images/heart.png')}}" alt="heart">
        CardioCare AI
    </h3>

     <div id="navbar">
        <a href="{{ url_for('index') }}">Home</a>
<a href="{{ url_for('about') }}">About</a>
<a href="{{ url_for('testing') }}">Predict</a>
<a href="{{ url_for('contact') }}">Contact</a>
        <button>Logout</button>
     </div>
    </div>
    <div class="testing">
    <h2 class="prediction">
        Heart Disease Prediction
    </h2>

    <p class="enter-details">
        Please enter the patient's health details below
    </p>
</div>
      <form action="/predict" method="POST" class="prediction-box">

    <div class="field">
        <label>Age</label>
        <input type="number" name="age" required>
    </div>

    <div class="field">
        <label>Gender</label>
        <select name="sex" required>
            <option value="">Select</option>
            <option value="1">Male</option>
            <option value="0">Female</option>
        </select>
    </div>

    <div class="field">
        <label>Chest Pain Type</label>
        <select name="cp" required>
            <option value="">Select</option>
        <option value="0">Typical Angina</option>
        <option value="1">Atypical Angina</option>
        <option value="2">Non-anginal Pain</option>
        <option value="3">Asymptomatic</option>
        </select>
    </div>

    <div class="field">
        <label>Resting Blood Pressure</label>
        <input type="number" name="trestbps" required>
    </div>

    <div class="field">
        <label>Cholesterol</label>
        <input type="number" name="chol" required>
    </div>

    <div class="field">
        <label>Fasting Blood Sugar</label>
        <select name="fbs" required>
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>
    </div>

    <div class="field">
        <label>Rest ECG</label>
    <select name="restecg" required>
        <option value="">Select</option>
        <option value="0">Normal</option>
        <option value="1">ST-T Wave Abnormality</option>
        <option value="2">Left Ventricular Hypertrophy</option>
    </select>
    </div>

    <div class="field">
        <label>Maximum Heart Rate</label>
        <input type="number" name="thalach" required>
    </div>

    <div class="field">
        <label>Exercise Induced Angina</label>
        <select name="exang" required>
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>
    </div>

    <div class="field">
        <label>Oldpeak</label>
        <input type="number" step="0.1" name="oldpeak" required>
    </div>

    <div class="field">
        <label>Slope</label>
        <select name="slope" required>
             <option value="">Select</option>
        <option value="0">Upsloping</option>
        <option value="1">Flat</option>
        <option value="2">Downsloping</option>
    </select>
    </div>

    <div class="field">
        <label>Number of Major Vessels</label>
        <input type="number" name="ca" required>
    </div>

    <div class="field">
        <label>Thal</label>
         <select name="thal" required>
        <option value="">Select</option>
        <option value="1">Normal</option>
        <option value="2">Fixed Defect</option>
        <option value="3">Reversible Defect</option>
    </select>
    </div>

    <button type="submit" class="predict-btn">
        Predict Heart Disease
    </button>

</form>

</body>
</html>